* {
  margin: 0;
  padding: 0; }

*, *::before, *::after {
  box-sizing: inherit; }

a {
  text-decoration: none;
  color: currentColor; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  font-family: 'Lato', sans-serif; }

.main-heading {
  font-size: 3rem;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  text-transform: uppercase; }
  @media only screen and (min-width: 56.25em) {
    .main-heading {
      font-size: 6rem; } }
  @media only screen and (min-width: 75em) {
    .main-heading {
      font-size: 7rem; } }

.section-heading {
  margin-bottom: 5rem;
  width: 100%;
  display: inline-block;
  font-size: 3.6rem;
  text-align: center; }

.heading-3 {
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
  color: #101010;
  margin-bottom: 1rem; }

.paragraph-sm {
  font-size: 1.2rem;
  text-align: center;
  color: #101010; }

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .header .logo {
    display: flex;
    align-items: center; }
    .header .logo__icon {
      width: 3rem;
      height: 3rem;
      margin-right: .6rem; }
    .header .logo__text {
      font-size: 1.8rem;
      font-weight: 700;
      color: #FFFFFF;
      text-transform: uppercase; }

.features {
  background-color: #FAFAFA;
  padding: 6rem 4rem; }
  @media only screen and (min-width: 56.25em) {
    .features {
      padding: 6rem 16rem 10rem 16rem; } }
  .features__items {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center; }
    @media only screen and (min-width: 87.5em) {
      .features__items {
        flex-direction: row;
        justify-content: space-between; } }
  .features__item {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .features__img {
    width: 35rem;
    height: 25rem;
    border-radius: 8px; }
    @media (min-width: 18.75em) and (max-width: 21.875em) {
      .features__img {
        width: 100%; } }
  .features__content {
    transform: translateY(-50%);
    background-color: #FFFFFF;
    border-radius: .8rem;
    width: 30rem;
    height: 20rem;
    padding: 3rem;
    box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    @media (min-width: 18.75em) and (max-width: 21.875em) {
      .features__content {
        width: 80%; } }
    .features__content__more {
      color: #D52047;
      text-align: center;
      font-size: 1.2rem;
      font-weight: 700; }

.technology {
  padding: 6rem 4rem; }
  @media only screen and (min-width: 56.25em) {
    .technology {
      padding: 6rem 16rem 10rem 16rem; } }
  .technology__items {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3rem;
    justify-content: center;
    justify-items: center; }
    @media only screen and (min-width: 56.25em) {
      .technology__items {
        grid-template-columns: 1fr 1fr; } }
    @media only screen and (min-width: 87.5em) {
      .technology__items {
        grid-template-columns: repeat(4, 1fr); } }
  .technology__item {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .technology__text {
    width: 60%; }
  .technology__icon {
    width: 8rem;
    height: 8rem;
    fill: #D52047; }
  .technology__number {
    font-size: 10rem;
    font-weight: 900;
    color: #101010;
    opacity: .08;
    line-height: .1;
    margin-top: 5rem; }

.money {
  background-color: #ED4C5C;
  padding: 4rem;
  display: grid;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  gap: 4rem; }
  @media only screen and (min-width: 56.25em) {
    .money {
      padding: 12rem 16rem; } }
  @media only screen and (min-width: 75em) {
    .money {
      grid-template-columns: repeat(2, 1fr);
      grid-auto-flow: column;
      grid-template-rows: repeat(3, max-content);
      column-gap: 6rem; } }
  .money__heading {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 3rem;
    text-align: center; }
    @media only screen and (min-width: 75em) {
      .money__heading {
        text-align: left; } }
    @media only screen and (min-width: 87.5em) {
      .money__heading {
        font-size: 3.6rem; } }
  .money__description {
    justify-self: center;
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: center;
    color: white; }
    @media (min-width: 33.75rem) {
      .money__description {
        width: 60%; } }
    @media only screen and (min-width: 75em) {
      .money__description {
        width: 100%;
        text-align: justify; } }
    @media only screen and (min-width: 87.5em) {
      .money__description {
        font-size: 1.4rem; } }
  .money__downloads {
    display: flex;
    width: 13.5rem;
    justify-content: space-between;
    justify-self: center; }
    @media only screen and (min-width: 75em) {
      .money__downloads {
        justify-self: left; } }
  .money__images {
    position: relative;
    height: 16rem;
    grid-row: 4 / 5; }
    @media only screen and (min-width: 75em) {
      .money__images {
        height: 25rem;
        grid-row: 1 / span 3; } }
  .money__img {
    position: absolute;
    height: 100%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); }
    .money__img--1 {
      left: 40%;
      opacity: 0.5; }
    .money__img--2 {
      z-index: 1;
      transform: translateX(-50%) scale(1.1); }
    .money__img--3 {
      left: 60%;
      opacity: 0.5; }

.download__icon {
  cursor: pointer;
  width: 3.2rem;
  height: 3.2rem; }

.contact {
  padding: 4rem;
  display: grid; }
  @media only screen and (min-width: 56.25em) {
    .contact {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      column-gap: 10rem; } }
  @media only screen and (min-width: 75em) {
    .contact {
      padding: 11.5rem 16.5rem 8rem 17.5rem; } }
  .contact__heading {
    font-weight: 600;
    font-size: 3.6rem;
    margin-bottom: 3rem;
    text-align: center; }
    @media only screen and (min-width: 56.25em) {
      .contact__heading {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        text-align: left; } }
  .contact__description {
    font-size: 1.4rem;
    margin-bottom: 3rem;
    line-height: 1.4;
    text-align: center; }
    @media only screen and (min-width: 56.25em) {
      .contact__description {
        text-align: justify;
        grid-row: 2 / 3;
        grid-column: 1 / 2; } }
  .contact__form {
    display: grid;
    gap: 2rem;
    width: 100%;
    justify-self: center;
    grid-template-columns: 1fr; }
    @media only screen and (min-width: 56.25em) {
      .contact__form {
        width: 100%;
        grid-row: 1 / 4;
        grid-column: 2 / 3;
        grid-template-columns: 1fr 1fr; } }
  .contact__item {
    padding: 2rem 3rem;
    border-radius: 0.6rem;
    outline: none;
    border: 1px solid #000000;
    font-size: 1.6rem; }
    .contact__item::placeholder {
      font-size: inherit; }
  @media only screen and (min-width: 56.25em) {
    .contact__phone {
      grid-column: 1 / 3; } }
  .contact__service {
    background-color: #FFFFFF;
    font-size: 1.6rem;
    appearance: none;
    position: relative;
    background: url(../img/svg/icon-chevron-down.svg) no-repeat right #FFFFFF;
    background-position-x: 95%; }
    .contact__service:invalid {
      color: rgba(19, 39, 67, 0.58); }
    @media only screen and (min-width: 56.25em) {
      .contact__service {
        grid-column: 1 / 3; } }
    .contact__service__select {
      display: flex;
      justify-content: space-between; }
    .contact__service option {
      font-size: inherit; }
  .contact__btn {
    justify-self: center; }
    @media only screen and (min-width: 56.25em) {
      .contact__btn {
        justify-self: left; } }

.burger {
  position: absolute;
  bottom: 50%;
  right: 0%;
  z-index: 200;
  transform: translateY(50%);
  height: 2rem;
  width: 3rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .burger span {
    background-color: #FFFFFF;
    height: .2rem;
    width: 3rem;
    transform-origin: 0%;
    transition: transform .1s ease-in-out; }
  .burger--active span:first-child {
    transform-origin: 0%;
    transform: rotate(45deg) translateX(-3.5px) translateY(-1px); }
  .burger--active span:nth-of-type(2) {
    display: none; }
  .burger--active span:last-child {
    transform-origin: 0% 100%;
    transform: rotate(-45deg); }
  @media only screen and (min-width: 75em) {
    .burger {
      display: none; } }

.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: #D52047;
  display: flex;
  align-items: center;
  transition: transform .2s ease-in-out; }
  @media only screen and (min-width: 75em) {
    .mobile-nav {
      display: none; } }
  .mobile-nav--closed {
    transform: translateX(100vw); }
  .mobile-nav__items {
    list-style: none;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
  .mobile-nav__item {
    position: relative;
    color: #FFFFFF;
    margin: 0 1rem;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 300;
    cursor: pointer; }
    .mobile-nav__item--active {
      font-weight: 700; }

.desktop-nav {
  display: none; }
  @media only screen and (min-width: 75em) {
    .desktop-nav {
      display: inline-block; } }
  .desktop-nav__items {
    list-style: none;
    display: flex; }
  .desktop-nav__item {
    position: relative;
    color: #FFFFFF;
    margin: 0 1rem;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 300;
    cursor: pointer; }
    .desktop-nav__item--active {
      font-weight: 700; }
    .desktop-nav__item::before {
      content: "";
      position: absolute;
      bottom: -3px;
      left: 0;
      height: 2px;
      width: 3px;
      background-color: #FFFFFF;
      transform: scaleY(0);
      transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s; }
  .desktop-nav__item:hover::before {
    transform: scaleY(1);
    width: 100%; }
  .desktop-nav--closed {
    display: none; }

.btn {
  width: 16rem;
  height: 5rem;
  padding: 1rem 2rem;
  border: none;
  cursor: pointer;
  border-radius: .6rem;
  text-align: center;
  transition: transform .1s ease-in-out; }
  .btn:hover {
    transform: translateY(-2px); }
  .btn:active {
    transform: translateY(1px); }
  .btn:active, .btn:hover {
    outline: none; }
  .btn--white {
    background: #FFFFFF;
    color: #D52047; }
  .btn--red {
    background-color: #ED4C5C;
    color: white; }

.main {
  position: relative;
  padding: 4rem;
  height: 100vh;
  background-image: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8)), url("../../img/hero.png");
  background-size: cover; }
  @media only screen and (min-width: 56.25em) {
    .main {
      padding: 6rem 16rem 10rem 16rem; } }
  .main__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center; }
    .main__content > *:not(:last-child) {
      margin-bottom: 4rem; }
    .main__content__text {
      color: #FFFFFF;
      text-align: center;
      font-size: 1.5rem;
      font-weight: 600;
      line-height: 1.5; }
      @media only screen and (min-width: 75em) {
        .main__content__text {
          font-size: 2rem; } }
      @media only screen and (min-width: 56.25em) {
        .main__content__text {
          font-size: 2.4rem; } }
