$color-primary: #d52047;
$color-primary-light: #ed4c5c;
$color-secondary: #ee3d1b;
$color-white: #ffffff;
$color-black: #000000;
$color-grey-dark: #101010;

$color-grey-light: #fafafa;
$color-grey-light-2: rgba(#132743, 0.58);

$main-padding-mobile: 6rem 4rem;
$main-padding-desktop: 6rem 16rem 10rem 16rem;
