$color-primary: #D52047;
$color-secondary: #EE3D1B;
$color-white: #FFFFFF; 
$color-black: #000000; 
$color-dark-grey: #101010; 

$color-grey-light: #FAFAFA; 

$main-padding-mobile: 2rem 2rem 0 2rem; 
$main-padding-desktop: 6rem 16rem 0 16rem; 
