$color-primary: #D52047;
$color-primary-light: #ED4C5C; 
$color-secondary: #EE3D1B;
$color-white: #FFFFFF; 
$color-black: #000000; 
$color-grey-dark: #101010; 

$color-grey-light: #FAFAFA; 
$color-grey-light-2: rgba(#132743, .58); 

$main-padding-mobile: 6rem 4rem; 
$main-padding-desktop: 6rem 16rem 10rem 16rem; 
