.technology { 
    
    &__items { 
        display: flex;
    }

    &__item { 
        display: flex;
        flex-direction: column;
    }

    &__icon {
        width: 8rem;
        height: 8rem;
        fill: $color-primary;
    }
}