.btn { 
    width: 16rem;
    height: 5rem;
    padding: 1rem 2rem; 
    border: none;
    cursor: pointer;
    border-radius: .6rem;

    &:active, &:hover { 
        outline: none;
    }


    &--white { 
        background: $color-white;
        text-align: center;
        color: $color-primary;
    }

}