.btn { 
    width: 16rem;
    height: 5rem;
    padding: 1rem 2rem; 
    border: none;
    cursor: pointer;
    border-radius: .6rem;
    text-align: center;

    &:active, &:hover { 
        outline: none;
    }


    &--white { 
        background: $color-white;
        color: $color-primary;
    }

    &--red { 
        background-color: $color-primary-light;
        color: white; 
    }

}