.main-heading {
    font-size: 3rem;
    letter-spacing: 0.05em;
    color: $color-white; 
    text-transform: uppercase;

    @include respond(tab-port) { 
        font-size: 6rem;            
    }

    @include respond(tab-land) {
        font-size: 7rem; 
    }
} 

.section-heading { 
    margin-top: 6rem; 
    margin-bottom: 5rem;
    width: 100%;
    display: inline-block; // preventing margin collapsing 
    font-size: 3.6rem;
    text-align: center;
}